MONGO_URI=mongodb://localhost:27017
DB_NAME=gcsrm
DB_NAME=gcsrm_db
NODE_ENV=dev
PORT=3000
ORIGIN=*
SENTRY_DSN=DESTINATION_DSN_HERE
ZOHO_SMTP_USER=MAIL_ADDRESS
ZOHO_SMTP_PASS=MAIL_PASSWORD
CERTIFICATE_SECRET=YOUR_CERTIFICATE_SECRET
USE_GOOGLE_SHEET_FOR_RECRUITMENT=false/true
GOOGLE_SHEET_URL=sheetURL